[submodule "demo_counter"]
	path = demo_counter
	url = https://github.com/Carleslc/cifo_flutter_demo_counter.git
	branch = master
[submodule "activitat_1_generador_noms"]
	path = activitat_1_generador_noms
	url = https://github.com/Carleslc/cifo_flutter_generador_noms.git
	branch = master
[submodule "harry_potter_example"]
	path = harry_potter_example
	url = https://github.com/Carleslc/cifo_flutter_harry_potter_example.git
	branch = master
[submodule "activitat_2_fitness_time"]
	path = activitat_2_fitness_time
	url = https://github.com/Carleslc/cifo_flutter_fitness_time.git
	branch = master
[submodule "weather_example"]
	path = weather_example
	url = https://github.com/Carleslc/cifo_flutter_weather_example.git
	branch = master
[submodule "activitat_3_postal_code"]
	path = activitat_3_postal_code
	url = https://github.com/Carleslc/cifo_flutter_postal_code.git
	branch = master
[submodule "fountains_app"]
	path = fountains_app
	url = https://github.com/Carleslc/fountains_app
	branch = master
